*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #07090F;
  color: #F1F5F9;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
